<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 댕BTI는?</title>
</head>
<body>
    <form action="/submit" id="question-from" method="post">
        <div class="status-box">
            <div>1/10</div>
            <div class="status-bar"></div>
        </div>
        <div class="question-box">
            <h2>대학교에서 팀플과제를 하게되었다. 첫 회의에서 당신이 할 말은?</h2>
            <ol class="answer-list">
                <li class="answer-item">
                    <input type="radio" id="answer-1" name="answer-1" value="1">
                    <label for="answer-1">1. "발표는 제가 할게요!"</label>
                </li>
                <li class="answer-item">
                    <input type="radio" id="answer-1" name="answer-1" value="1">
                    <label for="answer-1">1. "발표는 제가 할게요!"</label>
                </li>
                <li class="answer-item">
                    <input type="radio" id="answer-1" name="answer-1" value="1">
                    <label for="answer-1">1. "발표는 제가 할게요!"</label>
                </li>
                <li class="answer-item">
                    <input type="radio" id="answer-1" name="answer-1" value="1">
                    <label for="answer-1">1. "발표는 제가 할게요!"</label>
                </li>
                <li class="answer-item">
                    <input type="radio" id="answer-1" name="answer-1" value="1">
                    <label for="answer-1">1. "발표는 제가 할게요!"</label>
                </li>
            </ol>
        </div>
        <div class="button-box">
            <button type="button" class="previous-btn">이전</button>
            <button type="button" class="next-btn">다음</button>
        </div>
    </form>
</body>
</html>